body {
	width: 450px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

}
h1 {
	color: #6ba13f;
}

h3 {
	color: #6ba13f;
}

.sub{
	color: #FFFFFF;
	background-color: #6ba13f;
	border-style: solid;
	border-width: 0px;
	display: inline-block;
	padding: 0.5em 1em;
	text-decoration: none;
	color: #FFF;
	border-bottom: solid 4px #6BA13F;
	border-radius: 3px;
}

#lo{
	color: #FFFFFF;
	background-color: #6ba13f;
	border-style: solid;
	border-width: 0px;
	display: inline-block;
	padding: 0.5em 1em;
	text-decoration: none;
	color: #FFF;
	border-bottom: solid 4px #6BA13F;
	border-radius: 3px;
}
	
.pf{
	font-weight:bold;
	
}
.mynote{
	background-color:#6BA13F;
	order-color:#6BA13F;
	border-style:solid;
	border-width: 0px;
	border-radius: 3px;	
	
}
.btn-square-shadow {
	color: #FFFFFF;
 	display: inline-block;
	padding: 0.5em 1em;
	text-decoration: none;
	background: #6BA13F;/*ボタン色*/
	color: #FFF;
	border-bottom: solid 4px #6BA13F;
	border-radius: 3px;
}	
.flex{
  padding: 2.5% 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.flex > *{
  min-width: 8%;
  flex-basis: 25%;
  background: #fff;
  font-size: 64px;
  text-align: center;
}
.flex,
.flex > *{
  border: 3px solid #aaa;
}
.btn1 {
  color: #FFF;
  border: 2px solid #FFF;
  border-radius: 0;
  background: #6BA13F;
}

.btn1:hover {
  color: #6BA13F;
  background: #FFF;
}

