.title{
	text-align: center;
	font-size: 22px;
}

table{
	margin-left: 33%;
	margin-right: 30%;
	width: 400px;
	height: 300px;
	margin-top: 10%;
}
.text{
	width: 250px;
	height: 30px;
	background-color: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 5px;
}
.submit{
	background-color: #6ba13f;
	color: white;
	width: 240px;
	height: 40px;
	font-size: 120%;
	font-weight: bold;
	font-family: MSゴシック;
	margin-left: 25%;
}
body{
	background-image: url(uploadfolder/3280695210-texture-746884_1920-qjL2-1920x1280-MM-100.jpg);
}

.setumei{
	color: white;
}
